.PersonCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  height: 96px;
}

.PersonCard-img {
  height: 96px;
  width: 96px;
}

.PersonCard-header {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.PersonCard-description {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #666666;
}