.App-title {
  font-family: 'Georgia', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  color: #112467;

}

.App-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;

}

.App-header {
  height: 117px;
}

.App-header_image {
  padding: 33px 0 0 193px;
}

.App-main {
  padding: 0 30% 0 30%;
}